---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <title>Noodle Education &middot; Product Dashboard</title>
  <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon' />
  <link rel='stylesheet' href='/fonts/open-sans.css'>
  <link rel='stylesheet' href='/app.css'>
</head>
<body>
  <div id='container'>

    <div id="header">
      <div class="navigation">
        <a href="{{site.baseurl}}" class="title">Home</a>
      </div>
    </div>

    <div id='main'>{{content}}</div>
  </div>

  <div id='footer'>
    <div class="footer-content">
      <a href="http://www.noodle.org">Noodle.org</a>
    </div>
  </div>
</body>
</html>
